¨ body {
  background: #c2aec5;
  color: white;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.playlist {
  text-align: left;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.playlist-item {
  color: #444;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  padding: 1em;
}

.playlist-item.selected {
  font-weight: bold;
}

.playlist-item:hover {
  background: rgba(0, 0, 0, 0.1);
}

.controls {
  text-align: left;
  padding: 1em;
}

.loader {
  height: 30px;
  display: flex;
  align-items: center;
}

.loader .stroke {
  display: block;
  position: relative;
  background: #0d6efd;
  height: 100%;
  width: 5px;
  border-radius: 50px;
  margin: 0 2px;
  animation: animate 1.2s linear infinite;
}
@keyframes animate {
  50% {
    height: 20%;
  }
  100% {
    height: 100%;
  }
}
.stroke:nth-child(1) {
  animation-delay: 0s;
}
.stroke:nth-child(2) {
  animation-delay: 0.3s;
}
.stroke:nth-child(3) {
  animation-delay: 0.6s;
}
.stroke:nth-child(4) {
  animation-delay: 0.9s;
}
.stroke:nth-child(5) {
  animation-delay: 0.6s;
}
.stroke:nth-child(6) {
  animation-delay: 0.3s;
}
.stroke:nth-child(7) {
  animation-delay: 0s;
}
